.content-title-img{
    float: left;
    width:50px;
    height:30px;
    padding-left: 10px;
    padding-top: 5px;
    background: url("../img/account/account.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#userinfo-username{
    padding-left:5px;
    border:1px solid #aaa;
    background: #fafafa;
    height: 17px;
    width: 302px;
}
#userinfo-title-changepwd{
    color:#26ADE4;
    width:auto;
    cursor: pointer;
}
#userinfo-title-changepwd:hover{
    text-decoration: underline;
}

.account-btn{
    width:95px;
    font-size:1.5em;
    height:32px;
    margin-right: 15px;
}

.content-cell {
    width: 100%;
}

.content-title {
    width: 100%;
    height: 40px;
    padding-bottom: 30px;
}

.userinfo {
    height: 222px;
    position: relative;
    padding-left: 60px;
    width: 400px;
}

.userinfo-cell {
    width: 100%;
    height: 80px;
}

.userinfo-cell-span {
    float: left;
    height: 25px;
    width: 100%;
}

.userinfo-title {
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    color: #323232;
    font-size: 1.5em;
}

.content-title-font {
    color: #26ADE4;
    float: left;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.8em;
    padding: 5px 0 0;
}

#userinfo-title-changepwd {
    color: #26ADE4;
    width: auto;
    cursor: pointer;
}

.change-password-form {
    display: none;
}

.userinfo-title {
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    color: #323232;
    font-size: 1.5em;
}

.userinfo-input {
    height: 17px;
    padding-left: 5px;
    width: 302px;
}

.btncontent {
    clear: both;
    margin: 10px;
    margin-left: 60px;
}