.main-content{
    height: inherit;
    width: 100%;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
}
.content-title-img{
    float: left;
    width:50px;
    height:30px;
    padding-left: 10px;
    padding-top: 5px;
    background: url("../img/admin/account.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#userinfo-username{
    padding-left:5px;
    border:1px solid #aaa;
    background: #fafafa;
    height: 17px;
    width: 302px;
}
#userinfo-username{
    padding-left:5px;
    border:1px solid #aaa;
    background: #fafafa;
    height: 17px;
    width: 302px;
}
#userinfo-title-changepwd{
    color:#26ADE4;
    width:auto;
    cursor: pointer;
}
#userinfo-title-changepwd:hover{
    text-decoration: underline;
}

.account-btn{
    width:95px;
    font-size:1.5em;
    height:32px;
    margin-right: 15px;
}

.userinfo {
    height: 222px;
    position: relative;
    padding-left: 60px;
    width: 400px;
}

.userinfo-cell {
    width: 100%;
    height: 80px;
}

.userinfo-cell-span {
    float: left;
    height: 25px;
    width: 100%;
}

.userinfo-title {
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    color: #323232;
    font-size: 1.5em;
}

#userinfo-title-changepwd {
    color: #26ADE4;
    width: auto;
    cursor: pointer;
}

.change-password-form {
    display: none;
}

.userinfo-title {
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    color: #323232;
    font-size: 1.5em;
}

.userinfo-input {
    height: 17px;
    padding-left: 5px;
    width: 302px;
}

.btncontent {
    clear: both;
    margin: 10px;
    margin-left: 60px;
}

#Player{
    height:480px;
    width:640px;
}
#Player_220{
    height:480px;
    width:640px;
    position:absolute;
    left:0px;
    top:0px;
}
#Player_250 {
    height:1px;
    width:1px;
}

.reload-btn{
    background: none repeat scroll 0 0 #46AFEB;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 18px !important;
    font-weight: 500;
    height: 32px;
    width: 97px;
}
.refresh-btn{
    background: none repeat scroll 0 0 #46AFEB;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT' ;
    font-size: 14px !important;
    font-weight: 500;
    height: 32px;
    width: 97px;
}
.continue-btn{
    background: none repeat scroll 0 0 #46AFEB;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT' !important;
    font-size: 18px !important;
    font-weight: 500;
    height: 32px;
    width: 97px;
}

#sidebar {
    float: left;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    height: inherit;
    min-height: 522px;
    overflow: hidden;
    position: relative;
    width: 220px;
    margin-left: 22px;
}

.dev-item{
    float:left;
    border-bottom: 1px solid #DADADA;
    cursor:pointer;
    position: relative;
    height:128px;
    width:100%;
    color: #323232;
    font-size:12px;
    display: none;
}
.dev-item:hover{
    background:#DEDEDE;
}
.dev-selected{
    border-bottom: 1px solid #26ADE4;
    color:#26ade4;
}

.dev-name{
    cursor: text;
    float: left;
    font-size: 1.3em;
    left: 90px;
    position: relative;
    top: -45px;
    width: 128px;
    word-wrap: break-word;
    z-index: 0;
}

.ipcpic_200{
    float:left;
    width:101px;
    position:relative;
    top:32px;
    left:30px;
    height:101px;
    background: url("../img/admin/NC200.png") no-repeat scroll transparent;
}
.ipcpic_220{
    float:left;
    width:101px;
    position:relative;
    top:32px;
    left:30px;
    height:101px;
    background: url("../img/admin/NC220.png") no-repeat scroll transparent;
}
.ipcpic_250{
    float:left;
    width:101px;
    position:relative;
    top:32px;
    left:30px;
    height:101px;
    background: url("../img/admin/NC220.png") no-repeat scroll transparent;
}

.ipctype{
    position:absolute;
    left:62px;
    top:16px;
    font-size:13px;
}
.usable-cover{
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    z-index:1;
    width:100%;
}

.play-or-set {
    float: right;
    height: inherit;
    position:relative;
    width: 808px;
    margin-right: 140px;
}

.control-board{
    height: auto;
    position: relative;
    width: 640px;
}
#plugin-player-set{
    display: none;
    width:640px;
    margin-left: 103px;
    height: 480px;
}
#plugin-player-container{
    background: none repeat scroll 0 0 #333333;
    width:100%;
    height:100%;
    position: relative;
}
.admin-nav{
    height:50px;
    width:100%;
    margin-left: 40px;
}
.admin-nav-ul{
    position: relative;
    height:40px;
}
.admin-nav-li-font{
    cursor: pointer;
    float: left;
}
.admin-nav-li{
    color: #323232;
    float: left;
    padding-top:10px;
    font-size: 1.8em;
    margin-right:22px;
    height: 25px;
    width: 100px;
}
.admin-nav-li-split{
    background:#DADADA;
    float: right;
    height: 20px;
    position: relative;
    top: 2px;
    width: 1px;
}
.admin-nav-li-select{
    color:#2D9AD8;
}

#video-play-control{
    background:#000;
    height: 39px;
    width: 100%;
}
#video-business-control{
    height: 39px;
    margin-top: 20px;
    width: 100%;
}
.resolution-control{
    padding-right:8px;
    width:220px;
}
.video-control-sonclass {
    float: left;
    font-size:1.4em;
    font-family:'MYRIADPRO-LIGHTSEMIEXT';
}
#video-zoom-control{
    position: relative;
    top:4px;
}
#resolution-control label{
    float: left;
    padding: 0 10px 0 0;
    position: relative;
    width: 70px;
}
#resolution-select{
    float: left;
    position: relative;
    width:137px;
}
#video-play-control ul{
    float: left;
    height: 30px;
    padding-left: 8px;
    padding-top: 12px;
    width: 154px;
}
.play-control-button{
    width:21px;
    cursor:pointer;
    -webkit-user-select:none;
    height:17px;
    float:left;
    margin-left:22px;
    position:relative;
}
.play-volume-control{
    cursor:pointer;
    -webkit-user-select:none;
}
#take-picture{
    background: url("../img/admin/admin.png")  0 -999px;
}
#take-picture:hover{
    background: url("../img/admin/admin.png") 0 -1066px;
}
#video-record-start {
    background: url("../img/admin/admin.png") repeat-x scroll 0 -1131px;
}
#video-record-start:hover{
    background:  url('../img/admin/admin.png') repeat-x scroll 0 -1195px transparent;
}
#video-record-stop {
    display: none;
    background: url("../img/admin/admin.png") repeat-x scroll 0 -793px;
}
.toolbar-volumeset {
    position: absolute;
    right: 25px;
    top: 13px;
    width:90px;
}
#video-volume-control{
    position: absolute;
    right: 116px;
    top: 13px;
}
.plugin-video-icon {
    float: left;
    height: 18px;
    position: relative;
    width: 22px;
}
.volume-open {
    background: url("../img/admin/admin.png") 0 0 no-repeat;
}
.volume-mute {
    display: none;
    background: url("../img/admin/admin.png") 0 -246px no-repeat;
}
.tpcamera-bar{
    background: #AAAAAA;
    border: 0 none;
    border-radius: 0;
    float: left;
    height: 4px!important;
    margin-left: 5px;
    position: relative;
    margin-top: 6px;
    width: 72px;
}
.tpcamera-bar .ui-slider-handle{
    width:10px;
    height:10px;
    border:0;
    border-radius:0;
    background: url("../img/admin/admin.png") 0 -66px no-repeat;
}
#volume-bar {
    float: left;
    height: 4px !important;
    left: 6px;
    position: relative;
    width: 75px;
}
.watch-tips-p{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.4em;
    margin-top:7px;
    font-weight: bold;
}
.downloadplugin{
    color:#2D9AD8!important;
    display: none;
}
.downloadplugin:hover{
    text-decoration: underline;
}
#downloadpage{
    color:#2D9AD8;
}
#downloadpage:hover{
    text-decoration: underline;
}
.tipslang{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    margin-top:7px;
}
.tpcamera-bar .ui-widget-header{
    background: #26ADE4!important;
}
.tpcamera-bar .ui-slider-handle{
    width:10px;
    height:10px;
    border:0;
    border-radius:0;
    background: url("../img/admin/admin.png") 0 -66px no-repeat;
}
.tpcamera-bar .ui-slider-handle
{
    margin-left:-0.4em;
    top:-0.25em;
}

.zoom-icon-container{
    width:21px;
    cursor:pointer;
    -webkit-user-select:none;
    height:17px;
    float:left;
    margin-left:22px;
    position:relative;
}
.zoom-icon-container-right{
    margin-left:5px;
}
#objectplayer{
    width:auto;
    height:auto;
    position: relative;
}
.zoom-in-img{
    background: url("../img/admin/admin.png") 0 -859px no-repeat;
}
.zoom-out-img{
    background: url("../img/admin/admin.png") 0 -595px no-repeat;
}
#watch{
    display: block;
}
#flash-player-cover {
    width: 640px;
    height: 480px; 
    background-color: rgb(170, 170, 170);
}
#flash-player {
    width: 640px;
    height: 480px; 
}
#setting{
    width:670px;
    margin-left: 40px
}
.setting-cell-title-img{
    background: url("../img/admin/admin.png") 0 -927px no-repeat;
    float: left;
    height: 22px;
    margin: 5px 5px 5px 8px;
    width: 22px;
}
.setting-cell-title-font{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.5em;
    float: left;
    margin-top:7px;
}
.setting-cell-title{
    width:100%;
    background: #F5F5F5;
    height:32px;
    border-bottom:1px solid #DADADA;
}
.setting-cell-td{
    float: left;
    font-size:1.3em;
    height:35px;
    padding-right:8px;
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
}
.setting-cell-dd{
    padding-left:20px;
    float: left;
    width:260px;
}
.setting-cell-body{
    padding-top:28px;
}
.setting-content {
    padding-bottom: 10px;
    display: none;
}
#device-name{
    color: #323232;
    padding: 2px 0 2px 5px;
    width: 140px;
    position: relative;
    bottom:5px;
}
.setting-cell{
    width:100%;
    height:35px;
}
.widthauto{
    width:auto;
}
.advance-setting{
    height:25px;
    width:100%;
}
.height25{
    height:25px;
}
.dev-setting-btn{
    width:145px;
    height:25px;
}
.padding-right-75{
    padding-right:75px;
}
#dev-page-ul{
    bottom: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    width: 45px;
}
.ipcpag-cell{
    width:10px;
    height:20px;
    cursor: pointer;
}
#dev-left-arrow{
    display: none;
    float: left;
    background: url("../img/admin/admin.png") 0 -729px no-repeat;
}
#dev-left-arrow:hover{
    background: url("../img/admin/admin.png") 0 -663px no-repeat;
}
#dev-right-arrow{
    display: none;
    float: right;
    background: url("../img/admin/admin.png") 0 -378px no-repeat;
}
#dev-right-arrow:hover{
    background: url("../img/admin/admin.png") 0 -312px no-repeat;
}

.setting-cell-td-info{
    font-family:'MYRIADPRO-LIGHTSEMIEXT';
}
.dev-unusable{
    background: #fff;
    opacity: 0.6;
    filter: Alpha(opacity=60);
}
.ipcunclick{
    background: #eee;
    opacity: 0.6;
    filter: Alpha(opacity=60);
    z-index: 1;
}
#loading-img-container{
    display: none;
    height: 32px;
    left: 350px;
    position: absolute;
    top: 290px;
    width: 32px;
}
#loading-tips-text{
    font-size: 1.6em;
    color:#ccc;
    position: relative;
    right: 8px;
}
#dev-setting-save{
    position: relative;
    width:95px;
    height:30px;
    border-radius: 2px;
    top:40px;
    font-size:1.6em;
    left:20px;
}
#plugin-needed {
    display: none;
    margin-left: 80px;
}
#no-camera {
    display:none; 
    margin-left:80px;
}

#display-main-board {
    background: #fff;
    margin: 0 auto;
    width: 1200px;
    padding-top: 12px;
    height: 712px;
}
#refreshtips {
    display:none; 
    margin-left: 80px;
    height:580px
}
#reloadtips {
    display:none;
}
#continuetips {
    display:none;
    margin-left: 80px;
}
#no-camera {
    margin-left: 80px;
}

.tips-title {
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.4em;
    margin-top: 7px;
    font-weight: bold;
}

.tips-body {
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    margin-top:7px;
}

.account-content {
    display: none;
}

#device-li-sample {
    display: none;
}

.system-status {
    cursor: text; 
    font-size: 1.1em;
    left: 30px;
    position: absolute;
    top: 110px;
    word-wrap:break-word;
    z-index: 0;
    color: red;
}

.device-img {
    float: left;
    width: 101px;
    position: relative;
    top: 32px;
    left: 30px;
    height: 101px;
}

#plugin-unusable {
    display: none;
    margin-left: 124px; 
    margin-top: 162px; 
    height: 222px;
}

.plugin-unusable-sorry {
    float: left; 
    width: 166px;
    height: 100%; 
}

#plugin-unusable-sorry-img {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/admin/sorry.png") no-repeat ;
}

.plugin-unusable-info {
    float: left; 
    margin-left: 56px; 
    height: 100%; 
    width: 460px; 
}

.plugin-unusable-title{
    width: 100%;
    font-size: 20px; 
    margin-top: 25px; 
    font-weight: bold; 
    color: rgb(102,102,102);
}

.plugin-unusable-content {
    margin-top: 40px; 
    font-size: 18px; 
    color: rgb(102,102,102);
}

.upgrade-state-tips {
    display:none;
    margin-left:80px;
}

.firmware-need-upgrade-tip {
    position: relative;
    top: 40px;
    left: 200px;
}

.firmware-need-upgrade-tip > .title {
    font-size: 1.9em;
    width: 500px;
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    margin-top:7px;
    font-weight: bold;
}

.firmware-need-upgrade-tip > .body > span{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    margin-top:7px;
}

#upgrade-device {
    color:#2D9AD8; 
    text-decoration: 
    underline;cursor:pointer;
}

.firmware-need-upgrade-img{
    position: relative;
    top: 40px;
    left: 20px;
}

.firmware-need-upgrade-arrow {
    position: relative;
    top: -110px;
    left: 85px;
}

#flash-player-container {
    display: none;
    margin-left: 80px;
    margin-top: 40px;
}

.upgrading-tip {
    position: relative;
    top: 200px;
    left: 286px;
    width: 450px;
}

.upgrading-tip > .title {
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.9em;
    margin-top:7px;
    font-weight: bold;
}

.upgrading-tip > .body > span{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    margin-top:7px;
}

.upgrading-img {
    top: 39px;
    position: relative;
    left: 20px;
}

.upgrading-progressbar-img {
    position: relative;
    left: 148px;
}

.upgrading-failed-tip{
    position: relative;
    top: 200px;
    left: 286px;
    width: 450px;
}

.upgrading-failed-tip > .body > span{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    margin-top:7px;
}

.upgrade-failed-img {
    position: relative;
    top: 98px; left: 5px;
}

#failed-back-button {
    width: 95px;
    font-size: 1.5em;
    height: 32px;
    position: relative; 
    top: 40px; 
    left: 300px;
}

.downloading-tip {
    position: relative;
    top: 200px;
    left: 286px;
    width: 450px;
}

.downloading-tip > .title{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.9em;
    margin-top:7px;
    font-weight: bold;
}

.downloading-tip > .body > span{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    margin-top:7px;
}

.downloading-img {
    position: relative;
    top: 58px;
    left: 20px;
}

.downloading-progressbar-img {
    position: relative;
    left: 148px;
}

.ie-plugin-player-obj {
    border: 1px;
}
.non-ie-plugin-player-obj {
    width: 640;
    height: 480;
}

#plugin-update-needed {
    margin-left: 80px;
    display:none;
}
.plugin-update-needed-tip {
    position: relative;
    top: 200px;
    left: 206px;
    width: 450px;
}
.plugin-update-needed-tip > .title{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.9em;
    margin-top:7px;
    font-weight: bold;
}

.plugin-update-needed-tip > .body > span{
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    margin-top:7px;
}

#img-tag-player-container {
    display: none;
}

.plugin-download-link {
    color:#2D9AD8; 
    text-decoration: underline;
    cursor:pointer;
}