#contact_box {
    height: auto;
    margin: 0 auto;
    width: 1000px;
}
.select{
    color:#969696;
    left:4px;
}

.slide-item-holder{
    color:#969696;
}
.mfs{
    height:28px!important;
}
#contact_form {
    height: 448px;
    width:900px;
    position: relative;
}
#contact_tip{
    float:left;
    position:relative;
    width:900px;
}
#contact_table {
    font-size:12px;
    font-family:'MYRIADPRO-LIGHTSEMIEXT';
    color:#323232;
    position: relative;
}
#contact_account{
    height:16px;
    width:260px;
}
#contact_table select{
    width:270px;
}
.select .slide .slide-item-holder .slide-item{
    padding:4px;
    height:16px;
}
td > label{
    color:#323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size:1.4em;
}
#contact_table input,#contact_table select,#contact_table textarea{
    color:#969696;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    position:relative;
    left:4px;
}
#contact_table .plugin-select {
    font-size: 12px;
}

#contact_table input:focus,#contact_table select:focus,#contact_table textarea:focus{
    color:#323232;
}
#contact_table tr td{
    height:39px;
}

#contact_content {
    width:448px;
    height:168px;
    resize:none;
    top:6px;
}

#submit{
    left: 90px;
    position: absolute;
    top: 405px;
    width: 130px;
}
#contact_info {
    position:absolute;
    border: 1px solid #6CBFEE;
    display: inline-block;
    width: 238px;
    height:168px;
    right: 135px;
    top: 10px;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
}
#container{
    height:622px!important;
}
#contact_info_title {
    background: #47AFEC;
    font-size: 12px;
    color:#fff;
    height: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
}
#contact_info_content {
    float:left;
    position:relative;
    left:20px;
    color:#000;
    top: 6px;
    font-size:12px;
    line-height:18px;
}
#contact_info_tel {
    height:36px;
    float:left;
    position:relative;
}

#contact_info_email {
    border-bottom:1px solid #CEE9FA;
    float:left;
    position:relative;
    width:195px;
    height:43px;
}

#contact_info_oth {
    float: left;
    height: 37px;
    right:3px;
    position: relative;
    top: 7px;
    letter-spacing: -0.2px;
}
#contact_info_logo{
    float:left;
    position:relative;
    bottom:20px;
    left:0px;
    display:inline-block;
    width:41px;
    height:40px;
    background:url("../img/contact/contact_info_logoo.jpg") no-repeat scroll 0 0 transparent;
}
#contact_info_oth ol{
    float: left;
    left: 1px;
    font-weight: bold;
    position: relative;
    width: 90px;
}
#contact_info_oth span{
    float: left;
    height: 18px;
    left: 1px;
    position: relative;
    width: 166px;
}
#contact_info ol{
    font-weight: bold;
}
#contact_info_email a{
    font-size: 12px;
    cursor:pointer;
    color:#60B9EE;
    position: relative;
    right:1px;
}
.desname{
    bottom: 74px;
    position: relative;
}
.rCountry .slide{
    width:350px!important;
}
.rCountry .slide-item-holder{
    width:350px!important;
}

.padding-bottom12 {
    padding-bottom: 12px;
}

#account-cover {
    position: absolute;
    width: 234px;
    height: 15px;
    cursor: text;
    padding: 8px 8px 8px 10px;
    color: #aaa;
    font-size: 13.33333px;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    z-index: 2;
    top: 5px;
}

#contact-content-cover {
    position: absolute;
    top: 178px;
    left: 96px;
    z-index: 2;
    color: #aaa;
    font-size: 13.33333px;
}

#contraint-time-left {
    font-weight:normal;
}

#unusable-cover {
    background-color: #fff;
    opacity: 0.6;
    width: 130px;
    cursor: auto;
    left: 90px;
    top: 405px;
    height: 32px;
    position: absolute;
    z-index: 1;
    display: none;
}