#indexmain {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 612px;
    overflow: hidden;
    width: 100%;
    position: relative;
    
    text-align:center;
}

.login{
    height:450px;
    width:332px;
    background: url("../img/index/login-banner.png");  
    left:350px; 
    top:-523px;
    position:relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;
}

.putin {
    position: relative;
    top: 70px;
    left: 38px;
    width: 265px;
}

.loginmode {
    height: 33px;
    color: #B0B0B0;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 18px;
    text-align: left;
}

.loginname {
    margin-bottom: 22px;
}

.rememberpwd {
    position: relative;
    height: 60px;
}

.loginbtn {
    position: relative;
    margin-bottom: 35px;
}

.underbtnsplit {
    position: relative;
    height: 13px;
}

.findregister {
    position: relative;
}

#Account, #Password {
    width: 234px;
    width: 254px\9;
    height: 33px\9;
    width: 234px\9\0;
    height: 17px\9\0;
    position: relative;
    top: 2px;
    color: #aaa;
    font-size: 1.2em;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    padding: 8px 8px 8px 10px;
}

#Account:focus,#Password:focus{
    color:#323232;
}

.infocus {
    border: 1px solid #aaa;
    background: #FAFAFA;
    height: 17px;
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    padding: 5px;
}

.infocus:focus,textarea:focus {
    -webkit-focus-ring-color:none;
    border:solid 1px #323232!important;
    background-color:#ffffff;
    outline:none;
}

#password-cover {
    position: absolute;
    left: 2px;
    width: 234px;
    height: 15px;
    cursor: text;
    padding: 8px 8px 8px 10px;
    color: #aaa;
    font-size: 1.2em;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    z-index: 2;
    top: 57px;
}

#account-cover {
    position: absolute;
    left: 1px;
    width: 234px;
    height: 15px;
    cursor: text;
    padding: 8px 8px 8px 10px;
    color: #aaa;
    font-size: 1.2em;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    z-index: 2;
    top: 2px;
}

.remeberaccount-holder {
    position: relative;
}

.checkbox-holder {
    float: left;
}

.remelabel {
    padding: 0px 0 0 5px;
    position: relative;
    cursor: pointer;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
    width: 200px;
    color: #323232;
    -moz-user-select: none;
}

#submit_btn {
    background: #FF4036;
    font-size: 2.4em;
    cursor: pointer;
    width: 254px;
    padding: 1px;
    position: relative;
    border: 1px solid #EEEEEE;
    color: #fff;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    height: 40px;
    border-radius: 2px; 
}

.underbtnsplit-img {
    background: url("../img/index/underbtnsplit.png") no-repeat;
    float: left;
    height: 1px;
    width: 252px;
}

#forgotpass {
    color: #323232;
    position: relative;
    cursor: pointer;
    font-size: 1.4em;
}

#regist {
    color: #323232;
    font-size: 14px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}

.section-holder {
    min-width: 1200px;
    width: 100%;
    cursor: pointer;
    background: #fff;
    margin-top: -450px;
}

.floattitle {
    min-width: 1024px;
    width: 100%;
    text-align: center;
}

.floattitle-holder {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 1055px;
    padding-top: 20px;
}

.floattitle-holder-cell {
    margin: 0 auto;
    width: 1050px;
}

#floattitle-list {
    font-size: 2.4em;
    height: 40px;
    color: #323232;
    position: relative;
    left: 50px;
}

#bluesplit {
    margin: 0 auto;
    width: 1055px;
    height: 20px;
    background: url("../img/index/blue-line.png") no-repeat scroll center;
}

.titlelist-cell {
    float: left;
    height: auto;
    -moz-user-select: none;
    cursor: pointer;
    text-align: center;
}

.titlelist-cell-select {
    color: #3CB9E9;
}

.titlelist-split {
    border-right: 1px solid #DADADA;
    height: 21px;
    margin: 0 12px;
    position: relative;
    top: 2px;
    width: 1px;
}

.sectionmain {
    text-align: center;
    margin: auto;
    overflow: hidden;
}

#section_text_0_0_0 {
    width: 960px;
    color: #867C3F;
    font-size: 24px;
    margin: auto;
    padding: 30px;
    background: #FFFFFF;
    text-align: left;
}

#section0 {
    height: 680px;
    background-color: #F0EFEE;
    background-repeat: no-repeat;
    background-position: 190px bottom;
    overflow: hidden;
}

.section_text{
    position:relative;
    margin:auto; 
    z-index:1;
}

.section {
    margin: 0 auto;
}

.section_bg {
    margin: auto;
    position: relative;
}

.loadingImg {
    background: url("../img/index/px.png");
}

#section_text_0_0_1 {
    width: 400px;
    color: #383837;
    font-size: 36px;
    top: -500px;
    left: -250px;
    text-align: left;
}

#section_text_0_0_2 {
    width: 330px;
    color: #4B4B4B;
    font-size: 18px;
    top: -470px;
    left: -280px;
    text-align: left;
}

#section1 {
    height: 520px;
    background-color: #F0EF77;
    background-repeat: no-repeat;
    background-position: 230px;
}

#section_text_0_1_0 {
    width: 400px;
    color: #000000;
    font-size: 36px;
    top: 180px;
    left: 350px;
}

#section_text_0_1_1 {
    width: 380px;
    color: #454537;
    font-size: 18px;
    top: 200px;
    left: 340px;
}

.section_bg_m_1 {
    top: -25px;
    left: -250px;
}

#section2 {
    height: 680px;
    background-color: #F0EFEE;
    background-repeat: no-repeat;
    background-position: 210px;
    overflow: hidden;
}

#section_text_0_2_0 {
    width: 960px;
    color: #000000;
    font-size: 36px;
    top: -180px;
    left: -200px;
    left: -225px\9;
}

#section_text_0_2_1 {
    width: 960px;
    color: #2F2F2F;
    font-size: 18px;
    top: -170px;
    left: -20px;
    text-align: left;
}

#section3 {
    height: 520px;
    background-color: #85B9E9;
    background-repeat: no-repeat;
    background-position: 170px 220px;
}

#section_text_0_3_0 {
    width: 330px;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    top: 30px;
}

#section_text_0_3_1 {
    width: 960px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    top: 50px;
}

.section_bg_m_3 {
    top: 100px;
}

#section4 {
    height: 680px;
    background-color: #E5E5E5;
    background-repeat: no-repeat;
    background-position: 250px 190px;
}

#section_text_0_4_0 {
    width: 960px;
    color: #000000;
    font-size: 36px;
    text-align: center;
    top: 20px;
}

#section_text_0_4_1 {
    width: 1000px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    top: 50px;
}

.section_bg_m_4 {
    top: 90px;
}

#section5 {
    height: 520px;
    background-color: #89F3CC;
    background-repeat: no-repeat;
    background-position: 100px bottom;
    overflow: hidden;
}

#section_text_0_5_0 {
    width: 490px;
    color: #000000;
    font-size: 36px;
    top: 125px;
    left: 340px;
    text-align: left;
}

#section_text_0_5_1 {
    width: 500px;
    color: #000000;
    font-size: 18px;
    top: 145px;
    left: 350px;
    text-align: left;
}

.section_bg_m_5 {
    top: -65px;
    left: -290px;
}

#section6 {
    height: 682px;
    max-height: 682px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0px;
    overflow: hidden;
}

.section_bg_m_6 {
    /* width: 100%; */
    max-width: 1680px;
}

#section_text_0_6_0 {
    width: 580px;
    color: #000000;
    font-size: 36px;
    top: -235px;
    left: 180px;
    text-align: left;
}

#section_text_0_6_1 {
    width: 570px;
    color: #000000;
    font-size: 18px;
    top: -220px;
    left: 180px;
    text-align: left;
}

#section7 {
    height: 518px;
    background-color: #262C44;
    background-repeat: no-repeat;
    background-position: 190px;
}

#section_text_0_7_0 {
    width: 300px;
    color: #FFFFFF;
    font-size: 36px;
    top: 130px;
    left: -400px;
}

#section_text_0_7_1 {
    width: 960px;
    color: #FFFFFF;
    font-size: 18px;
    top: 150px;
    left: -173px;
    left: -170px\9;
}

.section_bg_m_7 {
    top: 200px;
}

.section_product_information {
    text-align: center;
    margin: auto;
    overflow: hidden;
    display: none;
}

#production_section2 {
    height: 363px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 280px;
}

.section_bg_p_2 {
    top: 70px;
    left: -360px;
}

#section_text_1_2_0 {
    width: 470px;
    color: #000000;
    font-size: 21px;
    top: -130px;
    left: -25px;
    text-align: left;
}

#section_text_1_2_1 {
    width: 580px;
    color: #000000;
    top: -120px;
    left: 50px;
    height: 224px;
    left: 0px\9;
    left: 50px\9\0;
}

.section ul {
    width: 580px;
    /* height: 224px; */
    text-align: left;
    list-style: disc;
    margin: auto;
    padding-left: 25px\9;
    padding-left: 0px\9\0;
}

.section ul li {
    font-size: 14px;
    padding: 3px;
}

.product_information_btn {
    position: relative;
    clear: both;
    width: 141px;
    height: 43px;
    border: 0;
    border-radius: 6px;
    color: #EEF7FC;
    background: #64BEE9;
    cursor: pointer;
    font-family: Arial,'myriad pro',Tahoma,Verdana,sans-serif;
    font-size: 2.1em;
    font-weight: 500;
}

.product_information_btn_download {
    right: -490px;
    top: -350px;
}

.product_information_btn_learnmore {
    right: -345px;
    top: -300px;
}
#production_section3 {
    height: 638px;
}

#section_table {
    width: 960px;
    border-collapse: separate;
    border: #FFF 2px solid;
    border-top: #E6E6E6 2px solid;
    font-size: 14px;
}

.section_table_head {
    font-size: 18px;
}

#section_table td {
    padding: 5px;
    padding-left: 10px;
}

.section_table_gray {
    background-color: #F2F2F2;
}

.section_table_dark_gray {
    background-color: #E6E6E6;
}

.section_cloud {
    text-align: center;
    margin: auto;
    overflow: hidden;
    display: none;
}

#tplinkcloud_section0 {
    height: 670px;
    background-repeat: no-repeat;
    background-position: 680px;
}

.section_bg_t_0 {
    top: 50px;
    left: 250px;
}

#section_text_2_0_0 {
    width: 390px;
    color: #000000;
    font-size: 36px;
    top: -350px;
    left: -220px;
    text-align: left;
}

#section_text_2_0_1 {
    width: 400px;
    color: #000000;
    font-size: 18px;
    top: -325px;
    left: -220px;
    text-align: left;
}

#tplinkcloud_section1 {
    height: 721px;
    background-color: #EBEBEB;
    background-repeat: no-repeat;
    background-position: 210px 150px;
}

.section_bg_t_1 {
    top: 140px;
}

#section_text_2_1_0 {
    width: 980px;
    color: #000000;
    font-size: 36px;
    text-align: center;
    top: -530px;
}

#section_text_2_1_1 {
    width: 980px;
    color: #000000;
    font-size: 18px;
    text-align: center;
    top: -510px;
}

#link_holder {
    text-align: center;
    z-index: 100;
    position: relative;
    left: 10px;
    top: -486px;
}

#tplinkcloud_section2 {
    height: 639px;
    background-repeat: no-repeat;
    background-position: 200px;
}

.section_bg_t_2 {
    top: 150px;
}

#section_text_2_2_0 {
    width: 295px;
    color: #000000;
    font-size: 36px;
    top: -280px;
    left: -400px;
}

#section_text_2_2_1 {
    width: 190px;
    color: #000000;
    font-size: 18px;
    top: 150px;
    left: -330px;
    text-align: center;
}

#section_text_2_2_2 {
    width: 210px;
    color: #000000;
    font-size: 18px;
    top: 105px;
    left: -20px;
    text-align: center;
}

#section_text_2_2_3 {
    width: 315px;
    color: #000000;
    font-size: 18px;
    top: 60px;
    left: 340px;
    text-align: center;
}

#backtop {
    background: url("../img/index/backtop.png");
    width: 48px;
    height: 48px;
    position: fixed;
    right: 20px;
    display: none;
    bottom: 20px;
    z-index: 10;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #cacaca 1px solid;
    outline: none;
}

.declare {
    color: #FF3F34;
    font-size: 1em;
    left: 5px;
    position: relative;
    top: 8px;
}

#warningtips {
    background: none repeat scroll 0 0 #FFEBEA;
    border: 1px solid #FFA8A3;
    height: 32px;
    position: absolute;
    width: 252px;
}

.closetips {
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 16px;
}

#for-autocomplete {
    display: none;
}