.NC200-small-img {
    background: url("../img/product/NC200-small.png") no-repeat scroll transparent;
}

.NC200-middle-img {
    background: url("../img/product/NC200-middle.png") no-repeat scroll transparent;
}

.NC210-small-img {
    background: url("../img/product/NC210-small.png") no-repeat scroll transparent;
}

.NC210-middle-img {
    background: url("../img/product/NC210-middle.png") no-repeat scroll transparent;
}

.NC220-small-img {
    background: url("../img/product/NC220-small.png") no-repeat scroll transparent;
}

.NC220-middle-img {
    background: url("../img/product/NC220-middle.png") no-repeat scroll transparent;
}

.NC230-small-img {
    background: url("../img/product/NC230-small.png") no-repeat scroll transparent;
}

.NC230-middle-img {
    background: url("../img/product/NC230-middle.png") no-repeat scroll transparent;
}

.NC250-small-img {
    background: url("../img/product/NC250-small.png") no-repeat scroll transparent;
}

.NC250-middle-img {
    background: url("../img/product/NC250-middle.png") no-repeat scroll transparent;
}

.NC350-small-img {
    background: url("../img/product/NC350-small.png") no-repeat scroll transparent;
}

.NC350-middle-img {
    background: url("../img/product/NC350-middle.png") no-repeat scroll transparent;
}

.NC450-small-img {
    background: url("../img/product/NC450-small.png") no-repeat scroll transparent;
}

.NC450-middle-img {
    background: url("../img/product/NC450-middle.png") no-repeat scroll transparent;
}