{% extends "../../common/base.html" %}

{% block title %}
<title lang="en">Cloud</title>
{% endblock %}}

{% block link %}
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../../components/widget/form/css/checkbox.css">
<link rel="stylesheet" type="text/css" href="../../components/widget/window/css/msg.css">
{% endblock %}

{% block body %}
<div id="indexcontainer">
    <div id="indexmain">
        <img class="adimg loadingImg" style="display:block;margin:auto;" alt="ipcamera" src="../img/index/adimg-2.png"></div>
</div>
<div id="login" class="login" >
    <div class="putin">
        <div class="loginmode loginname">
            <span  class="mf" lang="en" id="account-cover">E-mail/Username</span>
            <input tabindex=1 class="mf infocus" id="Account" type="text" />
        </div>
        <div class="loginmode">
            <span  class="mf" lang="en" id ="password-cover">Password</span>
            <input  tabindex=2 class="mf infocus"  id ="Password" name="mf" type="password"  value=""/>
        </div>
        <div class="rememberpwd">
            <div class="remeberaccount-holder">
                <div class="checkbox-holder">
                    <input type="checkbox" id="remember" tabindex="3" class="checkbox" name="remember"/>
                </div>
                <label class="choice remelabel" lang="en" for="remember">Remember account</label>
            </div>
        </div>
        <div class="loginbtn">
            <input tabindex=4 type="button" name="login" class="button clearoutline btn langbtn" value="Login"  id="submit_btn" title="Login" />
        </div>

        <div class="underbtnsplit">
            <span class="underbtnsplit-img"></span>
        </div>
        <div class="findregister">
            <a tabindex=5 id="forgotpass" lang="en" href="./forgotpassword.html">Forgot password?</a>
        </div>
    </div>
</div>
<div class="section-holder">
    <div class="floattitle">
        <div id="floattitle" class="floattitle-holder">
            <div class="floattitle-holder-cell">
                <ul id="floattitle-list">
                    <li id="titlehome" class="titlelist-cell titlelist-cell-select">
                        <span  href="javascript:void(0);" lang="en">Introduction</span>
                    </li>
                    <li class="titlelist-cell titlelist-split"></li>
                    <li class="titlelist-cell">
                        <span  href="javascript:void(0);" lang="en">Products Information</span>
                    </li>
                    <li class="titlelist-cell titlelist-split"></li>
                    <li class="titlelist-cell">
                        <span  href="javascript:void(0);" lang="en">tpCamera</span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="bluesplit" ></div>
    </div>

    <div class="sectionmain">
        <div id="section_text_0_0_0" class="section_text" lang="en">
            TP-LINK Cloud Cameras are cloud-based Wi-Fi video monitoring devices with free live streaming and remote viewing that makes it easy to stay connected with whatever you care for most from the people in your life, to your business, from wherever you are.
        </div>
        <div id="section0" class="section">
            <img src="../img/index/px.png" data-url="../img/index/m_section0.png" class="loadingImg section_bg section_bg_m_0" />
            <div id="section_text_0_0_1" class="section_text" lang="en">Stay connected with your children or parents.</div>
            <div id="section_text_0_0_2" class="section_text" lang="en">Add a TP-LINK Cloud Camera to a busy room to keep an eye on your children or relatives, always in touch with what you treasure most.</div>
        </div>
        <div id="section1" class="section">
            <div id="section_text_0_1_0" class="section_text" lang="en">Secure your Belongings</div>
            <div id="section_text_0_1_1" class="section_text" lang="en">
                Keep an eye on your belongings simply by having a well placed wireless cloud camera.
            </div>
            <img src="../img/index/px.png" data-url="../img/index/m_section1.png" class="loadingImg section_bg section_bg_m_1" /></div>
        <div id="section2" class="section">
            <img src="../img/index/px.png" data-url="../img/index/m_section2.png" class="loadingImg section_bg section_bg_m_2" />
            <div id="section_text_0_2_0" class="section_text" lang="en">Keeping an eye on your business, 24/7</div>
            <div id="section_text_0_2_1" class="section_text" lang="en">
                Set up simple and useful monitoring systems by placing TP-LINK Cloud Cameras at key positions around your business. Users can check every corner of their shops and know exactly what happens, even while they are at work. While adding a credible deterrent to scare off those with bad intensions.
            </div>
        </div>
        <div id="section3" class="section">
            <div id="section_text_0_3_0" class="section_text" lang="en">Invasion Alert</div>
            <div id="section_text_0_3_1" class="section_text" lang="en">
                Get immediate notifications by email and know what is happening on the ground. You can capture the images and record the movements of nefaqrious individuals, to help the police bring the bad guys to justice.
            </div>
            <img src="../img/index/px.png" data-url="../img/index/m_section3.png" class="loadingImg section_bg section_bg_m_3" /></div>
        <div id="section4" class="section">
            <div id="section_text_0_4_0" class="section_text" lang="en">Watch all of your cameras at once</div>
            <div id="section_text_0_4_1" class="section_text" lang="en">
                Users can watch all of their TP-LINK Cloud Cameras at once, by placing TP-LINK Cloud Cameras in several locations, removing the need for a physical presence, while conveniently providing a means by which to monitor the entire premises.
            </div>
            <img src="../img/index/px.png" data-url="../img/index/m_section4.png" class="loadingImg section_bg section_bg_m_4" /></div>
        <div id="section5" class="section">
            <div id="section_text_0_5_0" class="section_text" lang="en">Anywhere, anytime access with the tpCamera app</div>
            <div id="section_text_0_5_1" class="section_text" lang="en">
                Access all your cameras either using your smartphone or computer anywhere there is internet access, no matter if you are on a vacation or at your home office, you always know what is happening, wherever your cameras are.
            </div>
            <img src="../img/index/px.png" data-url="../img/index/m_section5.png" class="loadingImg section_bg section_bg_m_5" /></div>
        <div id="section6" class="section">
            <img src="../img/index/px.png" data-url="../img/index/m_section6.png" class="loadingImg section_bg section_bg_m_6" />
            <div id="section_text_0_6_0" class="section_text" lang="en">Easy Deployment with High Speed Wireless Internet Access</div>
            <div id="section_text_0_6_1" class="section_text" lang="en">
                Place your cloud camera in the best location possible with a stable high speed Wi-Fi internet connection, which can also be used as a Wi-Fi range extender to easily expand your Wi-Fi network.
            </div>
        </div>
        <div id="section7" class="section">
            <div id="section_text_0_7_0" class="section_text" lang="en">Easy to Setup</div>
            <div id="section_text_0_7_1" class="section_text" lang="en">
                Set up in minutes, so easy that even novice users can install and operate their cameras.
            </div>
            <img src="../img/index/px.png" data-url="../img/index/m_section7.png" class="loadingImg section_bg section_bg_m_7" /></div>
    </div>

    <div class="section_product_information">
        <div id="production_section2" class="section">
            <img src="../img/index/px.png" id="device-specification-img" data-url="../img/index/device.png" class="loadingImg section_bg section_bg_p_2" />
            <div id="section_text_1_2_0" class="section_text" lang="en">HD Day/Night Cloud Camera, 300Mbps WiFi NC200</div>
            <div id="section_text_1_2_1" class="section_text">
                <ul>
                    <li lang="en">Easily to install, configure and view with the tpCamera<sup>TM</sup>
                        app on iPhone<sup>®</sup>
                        or Android<sup>®</sup>
                    </li>
                    <li lang="en">E-mail or FTP notifications triggered by Motion Detection</li>
                    <li lang="en">Stable and fast 300Mbps wireless connectivity</li>
                    <li lang="en">
                        Instantly eliminate dead zones and expand your home's wireless network.
                    </li>
                </ul>
            </div>
            <input type="button" class="product_information_btn product_information_btn_download" value="Download"/>    
            <input type="button" class="product_information_btn product_information_btn_learnmore" value="Learn more"/> 
        </div>
        <div id="production_section3" class="section">
            <table id="section_table" class="section_text">
                <tr class="section_table_head">
                    <td lang="en">FACTORS</td>
                    <td></td>
                    <td lang="en">NC200</td>
                </tr>
                <tr class="section_table_gray">
                    <td class="section_table_dark_gray" lang="en">CLOUD</td>
                    <td lang="en">Cloud</td>
                    <td>√</td>
                </tr>
                <tr>
                    <td rowspan="6" lang="en">CAMERA</td>
                    <td lang="en">Image Sensor</td>
                    <td lang="en">1/4' Progressive scan CMOS sensor</td>
                </tr>
                <tr class="section_table_gray">
                    <td lang="en">Max Resolution</td>
                    <td lang="en">0.3 Megapixel(640*480)</td>
                </tr>
                <tr>
                    <td lang="en">Viewing Angle</td>
                    <td lang="en">64.</td>
                </tr>
                <tr class="section_table_gray">
                    <td lang="en">Digital Zoom</td>
                    <td lang="en">4x Digital</td>
                </tr>
                <tr>
                    <td lang="en">Min illumination</td>
                    <td lang="en">0.5 Lux</td>
                </tr>
                <tr class="section_table_gray">
                    <td lang="en">Day/Night Mechanism</td>
                    <td lang="en">----</td>
                </tr>
                <tr>
                    <td rowspan="2" class="section_table_dark_gray" lang="en">VIDEO/IMAGE</td>
                    <td lang="en">Video Compression</td>
                    <td lang="en">MJPEG</td>
                </tr>
                <tr class="section_table_gray">
                    <td lang="en">Max Frame Rate</td>
                    <td lang="en">20 fps at 640*480</td>
                </tr>
                <tr>
                    <td lang="en">AUDIO</td>
                    <td lang="en">Audio Communication</td>
                    <td lang="en">1-Way</td>
                </tr>
                <tr class="section_table_gray">
                    <td class="section_table_dark_gray" lang="en">ALARM AND EVENT MANAGEMENT</td>
                    <td lang="en">Alarm and Event Management</td>
                    <td lang="en">E-mail, FTP Notifications over Motion detection</td>
                </tr>
                <tr>
                    <td lang="en">WIRELESS</td>
                    <td lang="en">Wireless Speeds</td>
                    <td lang="en">300Mbps</td>
                </tr>
                <tr class="section_table_gray">
                    <td class="section_table_dark_gray" lang="en">INTERFACES</td>
                    <td lang="en">SD Card Storage</td>
                    <td>----</td>
                </tr>
                <tr>
                    <td lang="en">SURVEILLANCE MANAGEMENT</td>
                    <td lang="en">Bundled Management Software</td>
                    <td lang="en">36</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="section_cloud">
        <div id="tplinkcloud_section0" class="section">
            <img src="../img/index/px.png" id="cloud-connect-img" data-url="../img/index/cloud-connect.png" class="loadingImg section_bg section_bg_t_0" />
            <div id="section_text_2_0_0" class="section_text" lang="en">Stay connected with your concern</div>
            <div id="section_text_2_0_1" class="section_text" lang="en">
                The tpCamera app is a cloud-based video monitoring service with free live streaming and remote viewing that makes it easy to stay connected with whatever you care most such as places, people and businesses, wherever you are.
            </div>
        </div>
        <div id="tplinkcloud_section1" class="section">
            <img src="../img/index/px.png" id="camera-app-img" data-url="../img/index/camera-app.png" class="loadingImg section_bg section_bg_t_1" />
            <div id="section_text_2_1_0" class="section_text" lang="en">Anytime anywhere access with the tpCamera app</div>
            <div id="section_text_2_1_1" class="section_text" lang="en">
                With the tpCamera app installed in Smartphones, users can always be connected to whatever they care most and have easy access to the cameras even while they are away.
            </div>

            <div id="link_holder" >
                <a href="https://play.google.com/store/apps/details?id=com.tplink.skylight" target="_blank">
                    <img style="border:none;" id="android-link-img" data-url="../img/index/android-link.png" width="202"  height="60" class="loadingImg" src="../img/index/px.png"></a>
                <a href="https://itunes.apple.com/cn/app/tp-link-tpcamera/id865755897?mt=8" target="_blank">
                    <img style="border:none;" id="ios-link-img" data-url="../img/index/ios-link.png" width="202" height="60" class="loadingImg" src="../img/index/px.png"></a>
            </div>

        </div>
        <div id="tplinkcloud_section2" class="section">
            <img src="../img/index/px.png" id="easy-to-start-img" data-url="../img/index/easy-to-start.png" class="loadingImg section_bg section_bg_t_2" />
            <div id="section_text_2_2_0" class="section_text" lang="en">Easy to start</div>
            <div id="section_text_2_2_1" class="section_text" lang="en">Take the camera out of the package</div>
            <div id="section_text_2_2_2" class="section_text" lang="en">Plug it in and connect it to the router</div>
            <div id="section_text_2_2_3" class="section_text" lang="en">Following the instructions on the APP or run the Auto run</div>
        </div>
    </div>

    <div id="backtop" title="backtop"></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="../../components/js/libs/ipc-secret-libs.js"></script>
<script type="text/javascript" src="../../components/js/libs/ipc-business-libs.js"></script>
<script type="text/javascript" src="../../components/widget/form/js/checkbox.js"></script>
<script type="text/javascript" src="../../components/widget/window/js/msg.js"></script>
<script type="text/javascript" src="../../components/js/libs/jquery.scrollLoading.js"></script>
<script type="text/javascript">
    $(function () {

        "use strict";

        var initScrollLoading = function(){
            $(".loadingImg").scrollLoading();
        };

        initScrollLoading();

        $("#floattitle-list .titlelist-cell").click(function() {
            var index = $(this).index()/2;
            
            if( index == 0 ){
                $(".sectionmain").show();
                $(".section_product_information").hide();
                $(".section_cloud").hide();
            }
            if( index == 1 ){
                $(".section_product_information").show();
                $(".section_cloud").hide();
                $(".sectionmain").hide();
            }
            if( index == 2 ){
                $(".section_cloud").show();
                $(".section_product_information").hide();
                $(".sectionmain").hide();
            }

            $(".titlelist-cell").removeClass("titlelist-cell-select");
            $(this).addClass("titlelist-cell-select");
        });

        var backtotop = function()
        {
            var $window = $(window),$target = $("#backtop");
            $window.scroll(function() {
                if ($window.scrollTop() > 200 && $target.css("display") == "none") {
                    $target.css("display", "block");
                } else if ($window.scrollTop() == 0) {
                    $target.css("display", "none");
                }
            });
            $target.click(function() {
                $('html,body').animate({
                    scrollTop: 0
                }, '500');
            });
        }
        backtotop();

        $("#account-cover").on('click', function(){
            $(this).hide();
            $("#Account").focus();
        });

        $("#Account").on('focus', function() {
            $("#account-cover").hide();
        });

        $("#Account").on('blur', function() {
            $("#account-cover").toggle(!$("#Account").val());
        });

        $("#Account").on('change', function() {
            $("#account-cover").hide();
            $("#Password").focus();
        });
        

        $("#password-cover").on('click', function() {
            $(this).hide();
            $("#Password").focus();
        });

        $("#Password").on('focus', function() {
            $("#password-cover").hide();
        });
        $("#Password").on('change', function() {
            $("#password-cover").hide();
        });
        $("#Password").on('blur', function() {
            $("#password-cover").toggle(!$("#Password").val());
        });
    })
</script>
<script type="text/javascript" src="../js/index.js"></script>
{% endblock %}