{% extends "../../common/base.html" %}

{% block title %}
<title>Privacy Policy</title>
{% endblock %}

{% block link %}
<style type="text/css">
    p {
        color: #b0b0b0;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 15px;
        font-family: 'MYRIADPRO-LIGHTSEMIEXT';
        text-align: left;
    }
    #privacy_title{
        width:170px;
    }
    #news_content{
        height:500px;
        width:100%;
    }
    .pptitle{
        height: 105px;
        width: 910px;
        color: #0097da;
        font-family: 'MYRIADPRO-LIGHTSEMIEXT';
        font-size: 14px;
    }
    .tu{
        height:102px;
    }
    .pptitle span {
        line-height: 20px;
        position: relative;
        top: 30px;
    }
    .ppcontaintitle{
        color: #000;
        float: left;
        font-family: 'MYRIADPRO-LIGHTSEMIEXT';
        font-size: 16px;
        position: relative;
        top: 20px;
        font-weight: bold;
        padding-bottom: 20px;
        width: 750px;
        word-wrap: break-word;
    }
    #news_box {
        height: 1094px;
        margin: 0 auto;
        width: 900px;
    }
    .news_item{
        float:left;
        color:#323232;
        margin: 20px 0px 0;
        position:relative;
        width:921px;
    }
    .printblue{
        color:#119BDC;
    }
    .ppblock{
        height:50px;
    }
</style>
{% endblock %}

{% block body %}
<div id="maincontainer">
    <div class="navcontain">
        <div class= "navcontain-inner">

            <ul class="navstitle">
                <li class="navstitle-cell ">
                    <span id="privacy_title" class="navstitle-title navselected"  title="Privacy Policy" >
                        <span href="javascript:void(0)" class="accountinnertext ">Privacy Policy</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div id="display-main-board">
        <div id="news_box">
            <div class="pptitle tu">
                <span>
                    TP-LINK considers your privacy important and respects your privacy. So we developed a Privacy Policy covering how we collect, use, disclose, transfer, and store your information. Local laws will be respected and obeyed first when differences happen. Let us know if you have any questions.
                </span>
            </div>

            <div id="news_content">
                <span class="ppcontaintitle">Scope of this Privacy Statement</span>
                <p class="news_item">
                    This Privacy Statement applies to all TP-LINK owned websites, domains, services, applications, and products, except sometimes a special privacy policy or statement specific to a particular program, product, or service. TP-LINK sites or services may provide links to third-party applications, products, services, or websites and we do not endorse or make any representations about these third-party sites.
                </p>
                <span class="ppcontaintitle">Collection and use of information</span>
                <p class="news_item"> <b class="printblue">What information we collect</b>
                    <br>
                    We will collect your information when you create ID in our websites, use the cloud platform, register for the partnership, apply for jobs, purchase a product and so on. The information may include:personal information, such as contact information, educational and employment background, and job interest dataproduct information, such as firmware version, IP address, MAC address.other information such as User’ ID and password, product and service preferences, contact preferences
                </p>
                <p class="news_item"> <b class="printblue">How we use your information</b>
                    <br>
                    The personal and non-personal information we collect is used to improve our products, service and content. It also helps us audit, data analysis and research in internal ways.
                    <br>
                    Your profile created in our website can help maintain partnership, keep communication and improve interaction between you and us. By using this information, we can make you informed of our newest products, service, and sales promotion. In some cases, we may visit you or send you surveys via email or call to solicit feedback.
                    <br>
                    Your information kept in our cloud platform is a necessary factor of using the platform and our service. We may track your IP address and MAC address to get our cloud platform work more efficiency and provide you with more customized service.
                    <br>
                    Your personal information will not be sold, traded, or rented to third-parties unless you grant us permission and except the below occasions in this Policy:
                    <br>
                    (i) respond to authorized information requests of police, government and other authorities; (ii) comply with any law, regulation, or court order; (iii) investigate and help prevent public security threats, fraud or other malicious activities; (iv) protect the rights and properties of TP-LINK and its employees.
                </p>
                <p class="news_item">
                    <b class="printblue">Your choices</b>
                    <br>
                    TP-LINK gives you the choice of receiving a variety of information that complements our products and services. You can also contact us to show or change your privacy preferences.
                </p>
                <span class="ppcontaintitle">Children's privacy</span>
                <p class="news_item">
                    TP-LINK does not meaningly collect information from children, and does not target its websites to children. We don’t grantee that our websites are absolutely suitable for children. We encourage guardians to guide their children’s behaviors in using the internet.
                </p>
                <span class="ppcontaintitle">Cookies</span>
                <p class="news_item">
                    A cookie, is usually a small piece of data sent from a website and stored in user’s local hard disk when you browse a website. Cookies can be retrieved by website to notify the website of the user’s previous activity, which can helps the website customize service for you.
            TP-LINK and our partners may sometimes record, track and use your cookies only for audit, data analysis and research, for example, to count Page View, to assess which content is more popular and to be improved. We may also use cookies to help complete online order or transaction.
            You can configure your web browser to alert or accept or refuse when websites try to create cookies to your computer. Also, you can delete cookies on your computer. But please attention that some web pages may not work correctly if you disable cookies.
                </p>
                <span class="ppcontaintitle">Contact us</span>
                <p class="news_item">
                    We would be happy if you have any question and suggestion to address on our privacy policy. You can find our contact information by click “contact us” button on our website.
                </p>
                <p class="news_item ppblock"></p>
            </div>

        </div>

    </div>
</div>
{% endblock %}