{% extends "../../common/base.html" %}

{% block title %}
<title>Terms of Use</title>
{% endblock %}


{% block link %}
<style type="text/css">
    p {
        color: #b0b0b0;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 15px;
        font-family: 'MYRIADPRO-LIGHTSEMIEXT';
        text-align: left;
    }
    #terms_title{
        width:170px;
    }
    #news_content{
        height:500px;
        width:100%;
    }
    .pptitle{
        height: 105px;
        width: 910px;
        color: #0097da;
        font-family: 'MYRIADPRO-LIGHTSEMIEXT';
        font-size: 14px;
    }
    .tu{
        height:102px;
    }
    .pptitle span {
        line-height: 20px;
        position: relative;
        top: 30px;
    }
    .ppcontaintitle{
        color: #000;
        float: left;
        font-family: 'MYRIADPRO-LIGHTSEMIEXT';
        font-size: 16px;
        position: relative;
        top: 20px;
        font-weight: bold;
        padding-bottom: 20px;
        width: 750px;
        word-wrap: break-word;
    }
    #news_box {
        height: 1094px;
        margin: 0 auto;
        width: 900px;
    }
    .news_item{
        float:left;
        color:#323232;
        margin: 20px 0px 0;
        position:relative;
        width:921px;
    }
    .printblue{
        color:#119BDC;
    }
    .ppblock{
        height:50px;
    }
</style>
{% endblock %}

{% block body %}
<div id="maincontainer">
    <div class="navcontain">
        <div class= "navcontain-inner">

            <ul class="navstitle">
                <li class="navstitle-cell ">
                    <span id="terms_title" class="navstitle-title navselected"  title="Terms of Use" >
                        <span href="javascript:void(0)" class="accountinnertext ">Terms of Use</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div id="display-main-board">
        <div id="news_box">
            <div class="pptitle tu">
                <span>
                    Attention: please read these terms of use below carefully before you use this website. Using this site means you accept these terms. If you don’t agree, you are not authorized to use this site.
                    <br/>    
                    These terms of use apply to TP-LINK websites, subsidiaries and affiliates. TP-LINK reserves the right to change, modify, add or remove portions of these Terms of Use at any time. It is your responsibility to check these Terms of Use periodically for changes.
                </span>
            </div>

            <div id="news_div">
                <div id="news_content">
                    <span class="ppcontaintitle">Use of TP-LINK websites</span>
                    <p class="news_item">
                        TP-LINK has the copyright and other Intellectual property of TP-LINK websites. You are only authorized to use TP-LINK websites for your own personal, not for commercial purposes without our permission. If you want copy or cite our content or materials in our websites, you must retain all copyright and other proprietary notices in the same form and manner as on the original.
                        <br/>    
                        To use copyrighted content of websites for advertising, promotion or other commercial reasons, you should contact us first.
                    </p>
                    <span class="ppcontaintitle">Prohibited uses</span>
                    <p class="news_item"> <b class="printblue">You are not allowed to use TP-LINK websites (including, without limitation, any materials or services):</b> 
                        <br/>    
                        (i) to transgress in a manner which violates any local or international statute, regulation, rule, order, treaty, or morality.
                        <br/>    
                        (ii) to interfere with TP-LINK websites’ security and normal run.
                        <br/>    
                        (iii) to harm another individual.
                        <br/>    

                    </p>
                    <span class="ppcontaintitle">Access</span>
                    <p class="news_item">
                        Certain TP-LINK websites may require you to register to be users to obtain some service and to accept some agreements. We will collect your information according to the TP-LINK Privacy Policy. You agree to provide true, accurate, current, and complete information. You are responsible for maintaining the confidentiality of your TP-LINK Websites password and you are solely responsible for all activities that occur under your account.
                        <br/>    
                    </p>
                    <span class="ppcontaintitle">Disclaimers</span>
                    <p class="news_item">
                        The information on the TP-LINK website, as well as the TP-LINK services and products, are provided "as is" and “with all faults”. We don’t make warranty that all the information on the TP-LINK websites can meet your requirements or TP-LINK websites are error free and non-infringement of any intellectual property rights. In addition, we don’t warrant that TP-LINK sites or service will be without failure, for example access failure.
                    </p>
                    <span class="ppcontaintitle">Limitation of liability</span>
                    <p class="news_item">
                        IN NO EVENT WILL ANY OF THE TP-LINK PARTIES BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, OR COSTS, INCLUDING, WITHOUT LIMITATION, LOSS OF GOOD WILL, PROFIT, BUSINESS INTERRUPTION, OR OTHER INTANGIBLE LOSSES, WHETHER SUCH DAMAGES ARE BASED ON WARRANTY, CONTACT, TORT, STATUTE, OR ANY OTHER LEGAL THEORY AND EVEN IF ANY TP-LINK PARTY HAS BEEN ADVISED.
                    </p>
                    <span class="ppcontaintitle">Links to third-party websites</span>
                    <p class="news_item">
                        TP-LINK sites may link to other third-party websites to provide convenience or some relevant information for your understanding. We are not responsible for these websites’ security or accuracy. If you decide to access any of the third-party websites linked to from TP-LINK websites, you do this entirely at your own risk.
                    </p>
                    <span class="ppcontaintitle">Trademarks</span>
                    <p class="news_item">
                        TP-LINK is a registered trademark of TP-LINK TECHNOLOGIES CO., LTD.. And any other product or service names or slogans or logos mentioned in the TP-LINK Websites are trademarks of TP-LINK and its suppliers or licensors. Besides, other bands and product names are trademarks of their respective holders. We cite these according to these respective holders’ policies.
                    </p>
                    <p class="news_item ppblock"></p>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}