<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<!DOCTYPE html>-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="cloud tp-link" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Cloud</title>
<link rel="stylesheet" type="text/css" href="../../common/style.css">
<link rel="stylesheet" type="text/css" href="../../components/widget/window/css/msg.css">
</head>
<body>



<script type="text/javascript" src="../../components/js/libs/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../../components/widget/window/js/msg.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	// body...
	$.Msg({
		type: "info",
		info: "wo shi test",
		title: "Notice",
		// exitKey: false,
		// closeIcon: false
	})
})
</script>
</body>
</html>

