.userinfo {
    height: 222px;
    position: relative;
    padding-left: 60px;
    width: 400px;
}

#forgotpassword{
    width:268px;
}
.content-title-img {
    background: url("../img/forgotpassword/suo.png") no-repeat scroll;
    float: left;
    height: 33px;
    width: 38px;
}

#forgotpwd-input{
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #AAAAAA;
    height: 17px;
    padding-left: 5px;
    width: 302px;
}
.userinfo-cell{
    height:72px;
}
.forgot-tips-img{
     background: url("../img/forgotpassword/tan.png") no-repeat scroll;
}
#forogttips{
    padding-left:10px;
}

.userinfo-cell-span {
    float: left;
    height: 25px;
    width: 100%;
}
.userinfo-title {
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    color: #323232;
    font-size: 1.5em;
}

.input-tips-img {
    width: 17px;
    height: 18px;
    float: left;
}

.input-tips {
    color: #323232;
    font-family: 'MYRIADPRO-LIGHTSEMIEXT';
    font-size: 1.2em;
}
.btncontent {
    clear: both;
    margin: 10px;
    margin-left: 60px;
}




